<!-- <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
<script type="text/javascript" src="/static/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script> -->
<!-- <style type="text/css">
	body {
		width: 100%;
		height: 100%;
	}
</style> -->
{% extends 'base.html' %}
{% block content %}
<div class="container">
	<div class="col-md-4 col-md-offset-4">
		{% for error in form.non_field_errors() %}
			<div class="alert alert-danger" role="alert">
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				<span  style="text-align: center;">{{ error }}</span>
			</div>
		{% endfor %}
		<form name="login_form" action="/lobbies/create" method="POST">
			<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
			{% for field in form %}
				<div class="form-group {% if field.errors %}has-error{% endif %}">
					<label class="control-label" for="{{ field.label }}">{{ field.label }}</label>
					{{ field }}
					{% for error in field.errors %}
						<span class="help-block">{{ error }}</span>
					{% endfor %}
				</div>
			{% endfor %}
			<div class="controls" style="text-align: right">
				<input class="btn btn-primary" type="submit" name="submit_input" value="Submit">
				<a class="btn btn-link" href="{{ request.META.HTTP_REFERER }}" name="cancel">Cancel</a>
			</div>
		</form>
	</div>
</div>
<script type="text/javascript">
	users_emitter = new SocketEmitter(null, main_socket)

	$('form[name="login_form"] input:not([type="submit"])').each((index, element) => {
		$(element).addClass('form-control')
	})
</script>
{% endblock %}