{% extends 'base.html' %}
{% block content %}

<style type="text/css">
	.collection-empty {
		text-align: center; 
		padding: 10px;
		cursor: default;
	}
	.collection-empty:hover {
		background: none!important;
	}

</style>
<script type="text/javascript" src="/static/js/environmentmanager.js"></script>
<div environment="games" class="col-xs-3">
	{% set games = request.user.game_sessions.exclude(winner__isnull=True) %}
	<table class="collection table table-hover">
		<caption>My games</caption>
		<thead>
			<th>Lobby</th>
			<th>Winner</th>
		</thead>
		<tbody style="cursor: pointer;">
		{% if games %}
			{% for game in games %}
				{% if game.winner != request.user %}
					{% set game_status = '' %}
				{% else %}
					{% set game_status = success %}
				{% endif %}
				<tr class="{{ game_status }} clickable" item-id="{{game.id}}" >
					<td class="name-col">{{ game.name }}</td>
					<td class="winner-col">{{ game.winner }}</td>
				</tr>
			{% endfor %}
		{% else %}
			<tr class="collection-empty">
				<td colspan="2"> You are not played yet.</td>
			</tr>
		{% endif %}
		</tbody>
	</table>
	<div class="controls" style="text-align: right;">
		<a class="control btn btn-link disabled" pattern="./detail/$" href="">Game detail</a>
	</div>
</div>
<div environment="lobbies" class="col-xs-6">
	<table class="collection table table-hover" class="table table-hover">
		<caption>Lobbies</caption>
		<thead>
			<th>Name</th>
			<th>Timer</th>
			<th>Owner</th>
			<th>Status</th>
		</thead>
		<tbody style="cursor: pointer;">
		{% if collection %} 
			{% for item in collection %}
				{% if item.status == 'WTN' %}
					{% set css_class = success %}
					{% set status = 'Waiting for players' %}
					{% set clickable = 'clickable' %}
				{% elif item.status == 'RED' %}
					{% set css_class = warning %}
					{% set status = 'Ready to start' %}
					{% set clickable = '' %}
				{% elif item.status == 'PRC' %}
					{% set css_class = danger %}
					{% set status = 'Game in process' %}
					{% set clickable = '' %}
				{% endif %}
				<tr item-id="{{ item.id }}" item-status={{ item.status }} class="{{ css_class }} {{ clickable }}">
					<td class="name-col">{{ item.name }}</td>
					<td class="timer-col">{{ item.timer }}</td>
					<td class="owner-col">{{ item.owner }}</td>
					<td class="status-col">{{ status }}</td>
				</tr>
			{% endfor %}
		{% else %}
		<tr class="collection-empty">
			<td colspan="4">
				No lobby are available now, <a href="./create">create one</a>?
			</td>
		</tr>
		{% endif %}
		</tbody>
	</table>
	<div class="controls" style="text-align: right;">
		<a class="control btn btn-link disabled" class="btn btn-link disabled" pattern="./playground/$" href="">Join the game</a>
		<a class="control btn btn-link" href="./create">Create new lobby</a>
	</div>
</div>
<div environment="users" class="col-xs-3">
	<table id="users" class="table">
			<caption>Users online</caption>
			<thead>
				<th>Username</th>
				<th>Status</th>
			</thead>
			<tbody>
			{% if users %}
				{% for user in users %}
					<tr item-id="{{ user.id }}">
						<td class="username-col">{{ user.username }}</td>
						<td class="status-col">Offline</td>
					</tr>
				{% endfor %}
			{% else %}
			<tr class="collection-empty">
			<td colspan="4">
				System has no onli users.
			</td>
		</tr>
			{% endif %}
			</tbody>
	</table>
</div>
<!-- <script type="text/javascript" src="/static/js/lobbies/table.js"></script> -->
<script type="text/javascript" src="/static/js/utility.js"></script>
<script type="text/javascript">

	games_manager = new EnvironmentUIManager('games', {'fields':['name', 'winner'], empty_text:'You are not played yet.'})

	lobbies_manager = new EnvironmentUIManager('lobbies', {'fields':['name', 'timer', 'owner', 'status'], empty_text:'No lobby are available now, <a href="./create">create one</a>?'})

	users_manager = new EnvironmentUIManager('users', {'fields':['username', 'status']})

</script>
<script type="text/javascript" src="/static/js/lobbies/index/main_channel_handler.js"></script>
<script type="text/javascript" src="/static/js/lobbies/index/lobby_channel_handler.js"></script>
{% endblock %}