{% extends 'base.html' %}
{% block content %}
	<style type="text/css">
		.control {
			height: inherit;
			border: 1px solid black;
			cursor: pointer;
			padding: 30px;
			min-height: 100px;
			/*width:150px;*/
		}

		.control.disabled {
			background-color: grey;
		}

		.control img {
			height: 100%; 
			width: 100%
		}
	</style>
	<div id="info-panel" style="text-align: center; height: 30%">
		<div class="row"><h1>{{ object.name }}</h1></div>
		<div class="row"> 
			<div id="owner-panel" class="col-xs-4">
				<h3>{{ object.owner.username }}</h3>
			</div>
			<div id="timer-panel" class="col-xs-4">
				<h2>{{ object.timer }}</h2>
			</div>
			<div class="col-xs-4">
				<h3 id="player-panel"></h3>
			</div>
		</div>
	</div>
	<div id="playground" style="height: 50%; overflow-y: scroll;"></div>
	<div id="controls" style="height: 15%">
		<div class="col-xs-8 col-xs-offset-1" style="height: 100%;">
			<a id="ROC" class="figure control btn btn-link disabled">
				<img style="" src="/static/media/icons/ROC.svg" alt="Rock">
			</a>
			<a id="PAP" class="figure control btn btn-link disabled">
				<img src="/static/media/icons/PAP.svg" alt="Paper">
			</a>
			<a id="SCI" class="figure control btn btn-link disabled">
				<img src="/static/media/icons/SCI.svg" alt="Scisors">
			</a>
			<a id="LIZ" class="figure control btn btn-link disabled">
				<img src="/static/media/icons/LIZ.svg" alt="Lizard">
			</a>
			<a id="SPC" class="figure control btn btn-link disabled">
				<img src="/static/media/icons/SPC.svg" alt="Spock">
			</a>
		</div>
		<div class="col-xs-2" style="height: 100%; text-align: right;">
			<!-- <a id="hint" class="control btn btn-link disabled"> -->
				<a id="HINT" class="control btn btn-link disabled">
					<img src="/static/media/icons/HINT.svg" alt="Hint">
				</a>
			<!-- </a> -->
		</div>
	</div>
	<div class="modal fade" id="start-modal" data-backdrop='static' role="dialog">
		<div class="modal-dialog modal-md" role="document">
			<div class="modal-content" style="text-align: center; padding: 20px;">
				<div class="row">
					<span>
						<h3 style="display: inline-block;">User</h3>
						<h3 style="display: inline-block;">
							<b id="cabdidate-panel"></b>
						</h3>
					</span>
					<h3 style="margin-top: 0px;">want to join game</h3>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<button id="start-btn" class="btn-primary btn-lg" data-toggle="modal">Start game</button>
					</div>
					<div class="col-xs-6">
						<button id="decline-btn" class="btn btn-danger btn-lg" data-toggle="modal">Decline game</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="stop-modal" data-backdrop='static' role="dialog">
		<div class="modal-dialog modal-md" role="document">
			<div class="modal-content" style="text-align: center; padding: 20px;">
			<div class="row">
				<h3 id="stop-panel"></h3>
			</div>
			<div class="row">
				<a href="/" class="btn btn-primary btn-lg">Back to lobbies list</a>
			</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="/static/js/utility.js"></script>
	<script type="text/javascript" src="/static/js/timermanager.js"></script>
	<script type="text/javascript">

		// socket emitters 
		users_emitter = new SocketEmitter(null, main_socket)

		lobbies_emitter = new SocketEmitter('lobbies', main_socket)

		current_lobby_emitter = new SocketEmitter('lobby_' + '{{ object.id }}' + '_messages', main_socket)

		// timer module
		timer = new TimerManager('#timer-panel h2')

		// lobby constants
		const lobby_api_url = '/api/lobbies/{{ object.id }}/'

		const lobby_id = {{ object.id }}

		const lobby_owner = {{ object.owner.id }}

		const lobby_timer = {{ object.timer }}

		// lobby variables 
		tour = 0

		figure = null

		hint_used = false

		game_ended = false

		opponent_id = {{ object.owner.id }}
		
	</script>
	<script type="text/javascript" src="/static/js/lobbies/playground/buttons_handler.js"></script>
	<script type="text/javascript" src="/static/js/lobbies/playground/game_handler.js"></script>
	<script type="text/javascript" src="/static/js/lobbies/playground/global_lobby_channel_handler.js"></script>
	<script type="text/javascript" src="/static/js/lobbies/playground/local_lobby_channel_handler.js"></script>
{% endblock %}