<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
	<script type="text/javascript" src="/static/jquery/jquery.js"></script>
	<script type="text/javascript" src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/js/socketemitter.js"></script>
	<style type="text/css">
		html {
			height: 100%;
			width: 100%;
		}

		body {
			height: 100%;
			width: 100%;
		}
	</style>
</head>
<body>
	<script type="text/javascript">

		var main_socket = new WebSocket("ws://localhost:8888/users/{{ request.user.id }}/")

	</script>
	<section style="height: 100%;" class=container>
		{% block content %}
		{% endblock %}
	</section>
</body>
</html>