<link rel="stylesheet" type="text/css" href="static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
<style type="text/css">
	body {
		width: 100%;
		height: 100%;
	}
</style>

<div class="jumbotron" style="background: none; margin:0px; min-height: 100%; min-width: 100%; display: flex; align-items: center;">
	<div class="container">
		<div class="col-md-4 col-md-offset-4">
			{% for error in form.non_field_errors() %}
				<div class="alert alert-danger" role="alert">
					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					<span  style="text-align: center;">{{ error }}</span>
				</div>
			{% endfor %}
			<form name="signin_form" action="/signin" method="POST">
				<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
				{% for field in form %}
					<div class="form-group {% if field.errors %}has-error{% endif %}">
						<label class="control-label" for="{{ field.label }}">{{ field.label }}</label>
						{{ field }}
						{% for error in field.errors %}
							<span class="help-block">{{ error }}</span>
						{% endfor %}
					</div>
				{% endfor %}
				<input class="btn btn-primary" type="submit" name="login_input" value="Sign in">
				<a class="btn btn-link" href="/" name="signin_link">Login</a>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">
	inputs = document.querySelectorAll('form[name="signin_form"] input')
	for (idx=0; idx<inputs.length; idx++) {
		if (inputs[idx].type != 'submit') {
			inputs[idx].classList.add('form-control')
		}
	}
</script>